@import url("https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

@font-face {
  font-family: Eina;
  src: url(./fonts/eina/Eina01-Regular.ttf);
}

@font-face {
  font-family: Eina;
  src: url(./fonts/eina/Eina01-Bold.ttf);
  font-weight: bold;
}

@keyframes chevron {
  100% {
    transform: translateX(15px);
  }
}


:root {
  --color-primary: #6948fa;
  --color-secondary: #00adff;
  --lg-container: 1160px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Eina, sans-serif;
  line-height: 1.4;
  color: black;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

/* Navbar */

.brand {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-size: 50px;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 25px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.navbar-nav-left {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  flex: 1;
  margin-left: 40px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar-nav-left li {
  margin: 0 20px;
}

.navbar ul li a {
  color: #221e41;
  line-height: 20px;
  opacity: 0.7;
  letter-spacing: 2px;
}

.navbar ul li a:hover {
  color: #000;
  opacity: 1.0;
}

/* Hero */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.hero-container {
  max-width: 1160px;
  margin: 150px auto;
}

.hero-container img {
  margin-left: 120px;
}

.btn-header img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  animation: chevron 1s ease-in-out infinite alternate forwards;
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(97deg) brightness(108%) contrast(106%);
}

/* Buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #6948fa;
  border-radius: 7px;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 19px;
  font-size: 12px;
  padding: 8px 20px 5px;
  font-weight: bold;
  text-transform: initial;
  text-align: center;
}

.btn-nav {
  background: #00adff;
  border-color: #00adff;
  transition: all 0.5s;
}

.btn-header {
  position: relative;
  background-color: var(--color-primary);
  font-size: 18px;
  width: 270px;
  padding: 19px 30px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.btn-header::before {
  content: '';
  position: absolute;
  border: solid 1px #a587ff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.btn-header:hover {
  background-color: #ff95d7;
  color: #fff;
}

.btn-header:hover::before {
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.btn-nav:hover {
  background-color: rgb(0 173 255 / 65%);
}

/* Text Styles */
.heading-text {
  line-height: 1.32;
  font-size: 61px;
  font-weight: bold;
}

.heading-md {
  font-size: 40px;
  font-weight: bold;
}

.heading-lg {
  font-size: 52px;
  font-weight: bold;
}

.heading-project {
  font-size: 35px;
  font-weight: bold;
}

.heading-project a:hover {
  color: var(--color-primary);
}

.p-text {
  color: #757384;
  font-size: 22px;
  opacity: 0.95;
}

.selected-nav {
  color: var(--color-primary);
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
}

.divider::before {
  content: '';
  width: 83%;
  height: 1px;
  background-color: #e3e2ef;
}

.divider li {
  margin: 0 15px;
}

.divider img:hover {
  filter: invert(27%) sepia(46%) saturate(5555%) hue-rotate(244deg) brightness(99%) contrast(97%);
}

/* About */
.about-container {
  max-width: var(--lg-container);
  margin: 30px auto;
  position: relative;
}

.figure {
  position: absolute;
  bottom: 0;
  left: 23%;
  background-color: #e1dbff;
  height: 75%;
  width: 400px;
  z-index: -2;
}

.figure-2 {
  position: absolute;
  top: 0;
  left: 30%;
  background-color: #F9FFDB;
  height: 400px;
  width: 300px;
  z-index: -1;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box-text {
  max-width: 440px;
}

.grid-col-2-about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
}

.decoration {
  margin-right: 10px;
  border: 2px solid #e1bdff;
}

.decoration-md {
  margin-right: 10px;
  border: 4px solid var(--color-primary);
}

.decoration-lg {
  margin-right: 20px;
  border: 6px solid #e1bdff;
}


  /* Experience */
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #0da2bd;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #0da2bd;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #0da2bd;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after, 
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}

/* Project */
.tags {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pill {
  background-color: var(--color-secondary);
  border-radius: 15px;
  padding: 5px 15px;
  color: white;
}

/* Modal */
.modal-background {
  width: 100%;
  height: 100%;
  background: pink;
  opacity: 0.9;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-container {
  width: 700px;
  height: 900px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, .2);
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  margin: 0 auto;
}

.close-modal {
  height: fit-content;
  align-self: flex-end;
  margin: 30px;
}

.form-container {
  margin: 10px 60px;
}