@import url("https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

@font-face {
  font-family: Eina;
  src: url(./fonts/eina/Eina01-Regular.ttf);
}

@font-face {
  font-family: Eina;
  src: url(./fonts/eina/Eina01-Bold.ttf);
  font-weight: bold;
}

@keyframes chevron {
  100% {
    transform: translateX(15px);
  }
}


:root {
  --color-primary: #6948fa;
  --color-secondary: #00adff;
  --lg-container: 1160px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Eina, sans-serif;
  line-height: 1.4;
  color: black;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

/* Navbar */

.brand {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-size: 50px;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 25px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.navbar-nav-left {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  flex: 1;
  margin-left: 40px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar-nav-left li {
  margin: 0 20px;
}

.navbar ul li a {
  color: #221e41;
  line-height: 20px;
  opacity: 0.7;
  letter-spacing: 2px;
}

.navbar ul li a:hover {
  color: #000;
  opacity: 1.0;
}

/* Hero */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.hero-container {
  max-width: 1160px;
  margin: 150px auto;
}

.hero-container img {
  margin-left: 120px;
}

.btn-header img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  animation: chevron 1s ease-in-out infinite alternate forwards;
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(97deg) brightness(108%) contrast(106%);
}

/* Buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #6948fa;
  border-radius: 7px;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 19px;
  font-size: 12px;
  padding: 8px 20px 5px;
  font-weight: bold;
  text-transform: initial;
  text-align: center;
}

.btn-nav {
  background: #00adff;
  border-color: #00adff;
  transition: all 0.5s;
}

.btn-header {
  position: relative;
  background-color: var(--color-primary);
  font-size: 18px;
  width: 270px;
  padding: 19px 30px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.btn-header::before {
  content: '';
  position: absolute;
  border: solid 1px #a587ff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.btn-header:hover {
  background-color: #ff95d7;
  color: #fff;
}

.btn-header:hover::before {
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.btn-nav:hover {
  background-color: rgb(0 173 255 / 65%);
}

/* Text Styles */
.heading-text {
  line-height: 1.32;
  font-size: 61px;
  font-weight: bold;
}

.heading-md {
  font-size: 40px;
  font-weight: bold;
}

.p-text {
  color: #757384;
  font-size: 22px;
  opacity: 0.95;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
}

.divider::before {
  content: '';
  width: 83%;
  height: 1px;
  background-color: #e3e2ef;
}

.divider li {
  margin: 0 15px;
}

.divider img:hover {
  filter: invert(27%) sepia(46%) saturate(5555%) hue-rotate(244deg) brightness(99%) contrast(97%);
}

/* About */
.about-container {
  max-width: var(--lg-container);
  margin: 30px auto;
  position: relative;
}

.figure {
  position: absolute;
  bottom: 0;
  left: 23%;
  background-color: #e1dbff;
  height: 75%;
  width: 400px;
  z-index: -2;
}

.figure-2 {
  position: absolute;
  top: 0;
  left: 30%;
  background-color: var(--color-secondary);
  height: 400px;
  width: 300px;
  z-index: -1;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box-text {
  max-width: 440px;
}

.grid-col-2-about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
}